{% extends "base.html"%}
{%block title%}My Profile{%endblock title%}
{%block body%}
<section id="portfolio-details" class="portfolio-details">
    <div class="container">
        <h1>My Profile</h1>
        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Products</th>
                    <th scope="col">Amountpaid</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phonenumber</th>

                </tr>
            </thead>
            <tbody>
                {%for i in items%}
                <tr>
                    <th scope="row">{{i.order_id}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.items_json}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.address1}}</td>
                    <td>{{i.phone}}</td>

                </tr>
                {%endfor%}
            </tbody>
    </div>
</section>
</table>
</div>
</section>
{%endblock body%}